body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
}

.header {
  height: 35px;
  width: 100%;
  margin-top: 20px;
}

.header > h1 {
  margin: auto 30px;
  font-size: 32px;
  font-weight: bold;
  float: left;
}

.header > h1 > span {
  color: #B6021D;
}

#search-panel {
  margin: 20px 0 0 30px;
  float: left;
}

#event-list {
  margin: 20px 0 0 30px;
  padding-left: 2px;
  float: left;
  min-height: 100px;
}